<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wchat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C453AF571E7E210C00E97A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C453AF6B1E7E210D00E97A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C453AF761E7E210D00E97A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
